<h1>View Profile for <%= @current_user.username %></h1>
<!-- <%= link_to "New Post", new_post_path %> -->
<%= render partial: "/posts/form" %>

<br>
<div class="crop"><%= image_tag @current_user.image_thumb, :class => "img_thumb" %></div>
<%= link_to "Edit profile", edit_user_path %>

<p>Your name is: <%= @current_user.name %></p>
<p><%= @current_user.email %></p>
<hr>


<% @current_user.posts.reverse_each do |post| %>

  <h2><%= post.title %></h2>
  <p class="created_time"><em> <%= post.created_at.strftime "Posted at %I:%M%P, %A %d, %b %Y" %></em></p>

  <div class="post">
    <p><%= truncate(post.post, :length => 235) %></p>
  <%= link_to "View full post", post_path(post.id), :class => "view_post" %>
  <%= render post.tags %>
  </div>
  <hr>
<% end %>
