<h1>View Profile for <%= @current_user.username %></h1>
<!-- <%= link_to "New Post", new_post_path %> -->
<%= render partial: "/posts/form" %>

<br>
<div class="crop"><%= image_tag @current_user.image_thumb, :class => "img_thumb" %></div>

<p>Your name is: <%= @current_user.name %></p>
<p><%= @current_user.email %></p>
<%= link_to "Edit profile", edit_user_path %>
