<h1><%= @post.title %></h1>
  <p class="created_time"><%= @post.created_at %></p>


  <% if @current_user.has_favourited_post?(@post.id) %>
    <%= form_tag(post_favourites_path(@post.id), method: "delete") do %>
    <%= hidden_field_tag :post_id, @post.id %>
    <%= button_tag do%>
      <span class="favourite_button_clicked glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
    <% end %>

    <% end %>
  <% else %>
    <%= form_tag(post_favourites_path(@post.id), method: "post") do %>
    <%= hidden_field_tag :post_id, @post.id %>
    <%= button_tag do %>
      <span class='favourite_button glyphicon glyphicon-plus-sign' aria-hidden='true'></span>
    <% end %>
  <% end %>
  <% end %>

<!-- <span class="favourite_button glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
<span class="favourite_button glyphicon glyphicon-ok-sign" aria-hidden="true"></span> -->


<div class="post_preview">
  <p><%= @post.post %></p>
</div>
<div class="tags_show">
  <%= render @post.tags %>
</div>


<br><br>



<% if @current_user.present? && @current_user.id == @post.user_id %>
  <%= link_to "Edit Post", edit_post_path(@post.id), :class => 'edit' %>
  <br><br>
  <%= button_to "Delete Post", @post, :method => 'delete', :data => {:confirm => 'Are you sure?'}, :class => 'destroy'%>
<% end %>

<br><br>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/


var disqus_config = function () {
this.page.url = window.location;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = <%= @post.id %>; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//bepwdi.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
