<!DOCTYPE html>
<html>
<head>
  <title>Bep</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <h2 id="nav_logo">BEP</h2>
      | <%= link_to 'Home', root_path, :class => "nav_link" %>
      |
      <%= link_to 'All tags', tags_path, :class => "nav_link" %>
      <% if @current_user.present? %>
        | <%= link_to "Log out #{ @current_user.email }", login_path, :method => 'delete', :class => "nav_link" %>
      | <%= link_to "View Profile", user_path(@current_user.id), :class => "nav_link" %> |
      <% else %>
      |
      <%= link_to 'Sign up', new_user_path, :class => "nav_link" %>
      |
      <%= link_to 'Sign in', login_path, :class => "nav_link" %> |
      <% end %>
    </nav>
    </header>
  <div class="container">


    <%= yield %>

  </div>
</body>
</html>
